*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(7, 107, 107),rgb(12, 119, 48));
    font-family: "Poppins", sans-serif;
}

#container{
    
    min-height: 100vh;
    width:100%;
    margin: 3%;
    h1{
        color:#fff;
        font-size: 48px;
        i{
            font-size: 36px;
            margin: 1%;
        }
    }
    #add-note{
        font-size: 24px;
        color:#fff;
        margin: 1%;
        &:hover{
            transform: scale(1.1);
            transition: 0.2s;
            color:#2bff18;
        }
    }
    .notes-container{
        .note{
            position: relative;
        display: flex;
        align-items: end;
        gap:1rem; 
        margin: 1rem;
        .input-box{
            
            width: 100%;
            max-width: 500px;
            min-height: 150px;
            background: #fff;
            color: #333;
            padding: 20px;
            outline:none;
            border-radius: 8px;
            flex-wrap: wrap;
        }
        i{
            cursor:pointer;
            color:#fff;
            &:hover{
                transform:translateY(-1px);
                transition: .5s;
                color:#ff1515;
            }
        }
    }
}
    
}